.user-container{
    display: grid;
    grid-template-columns: max-content max-content;
    grid-auto-flow: column;
    align-items: center;
    height: max-content;
    gap: 15px;
    color: aliceblue;
    padding: 10px 20px;
    position: relative;
}

.user-container:hover{
    background: blue;
}

.user-container.user-dropdown{
    cursor: pointer;
}

.dropdown{
    background: rgb(255, 255, 255);
    color: #000;
    position: absolute;
    top: 55px;
    left: 20px;
    width: max-content;
    display: none;
}

.dropdown .inactive{
    color: rgb(212, 209, 209);
}

.show .dropdown{
    display: grid;
    border-radius: 3px;
}

.dropdown-option{
    padding: 10px 15px;
}

.dropdown .dropdown-option:not(.inactive):hover{
    background: rgb(236, 236, 236);
    border-radius: 3px;
}

.user-avatar{
    width: 40px;
    height: 40px;
    border-radius: 50px;
}